<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzx.module_main">

    <application>


        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.yzx.module_main.MainActivity" />


    </application>

</manifest>
